:root{
    --primary:#34B1DA;
    --text-secondary:#FFFFFF;
    --text-balck:#000;
    --bg-balck:#000;
}

ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
*{
    margin: 0;
}
header{
     width: 100%;
     border: 1px solid green;
}

header .b_top_header{
    background-color: var(--primary);
    color: white;
    font-size: 25px;
}

.left_top_header{
    width: 40%;


}

.right_top_header{
    flex: 1;
}

.b_middle_part_header{
    background-color: #F2F2F2;
}

.b_middle_part_header .b_middle_inner_part{
  padding: 30px 0;
}

.b_search{
    width: 55%;
     height: fit-content;
    
}

.b_search input{
flex: 1;
background: none;
outline: none;
 padding: 10px;
 border: none;
 border: 1px solid #8080802c;
 border-top-left-radius: 5px;
 border-bottom-left-radius: 5px;

}

.b_search button{
    background-color: var(--primary);
    color: var(--text-secondary);
    border: none;
    padding: 0 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.b_search button:hover{
    background-color:var(--text-balck) ;
}
.b_contact{
    font-size: 25px;
}
.b_contact h5:hover{
  cursor: pointer;
  color: var(--primary);
}

.b_bottom__header_part .b_left_box{
      flex: 0.2;
     color: var(--text-secondary);
     background-color: var(--primary);
     padding: 15px 25px;
     font-size: 20px;
     border-top-right-radius: 5px;
     border-top-left-radius: 5px;
}

.b_bottom__header_part .b_right_box{
    flex: 1;
   align-items: stretch;
    background-color: var(--bg-balck);
}
.b_bottom__header_part .b_right_box ul{
    height: 100%;
    align-items: center;
}
.b_bottom__header_part .b_right_box ul li {
  padding: 10px 15px;
  color: var(--text-secondary);

}

.b_bottom__header_part .b_right_box ul li a{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.b_bottom__header_part .b_right_box ul li a:hover{
    color: var(--primary);
}

li.b_cart_items{
    background-color: var(--primary);
    margin-left: auto;
    align-self: stretch;
    padding: 0px 25px !important;

}