:root{
    --primary:#34B1DA;
    --text-secondary:#FFFFFF;
    --text-balck:#000;
    --bg-balck:#000;
    --bg-dark-gray:#464646;
    --bg-secondary:#F2F2F2;
}

ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
*{
    margin: 0;
}
header{
     width: 100%;
     border: 1px solid green;
}

header .b_top_header{
    background-color: var(--primary);
    color: white;
    font-size: 25px;
}

.left_top_header{
    width: 40%;

}

.right_top_header{
    flex: 1;
}

.b_middle_part_header{
    background-color: #F2F2F2;
}

.b_middle_part_header .b_middle_inner_part{
  padding: 30px 0;
}

.b_search{
    width: 55%;
     height: fit-content;
    
}

.b_search input{
flex: 1;
background: none;
outline: none;
 padding: 10px;
 border: none;
 border: 1px solid #8080802c;
 border-top-left-radius: 5px;
 border-bottom-left-radius: 5px;

}

.b_search button{
    background-color: var(--primary);
    color: var(--text-secondary);
    border: none;
    padding: 0 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.b_search button:hover{
    background-color:var(--text-balck) ;
}
.b_contact{
    font-size: 25px;
}
.b_contact h5:hover{
  cursor: pointer;
  color: var(--primary);
}

.b_bottom__header_part .b_left_box{
      flex: 0.2;
     color: var(--text-secondary);
     background-color: var(--primary);
     padding: 15px 25px;
     font-size: 20px;
     border-top-right-radius: 5px;
     border-top-left-radius: 5px;
}

.b_bottom__header_part .b_right_box{
    flex: 1;
   align-items: stretch;
    background-color: var(--bg-balck);
}
.b_bottom__header_part .b_right_box ul{
    height: 100%;
    align-items: center;
}
.b_bottom__header_part .b_right_box ul li {
  padding: 10px 15px;
  color: var(--text-secondary);

}

.b_bottom__header_part .b_right_box ul li a{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.b_bottom__header_part .b_right_box ul li a:hover{
    color: var(--primary);
}

li.b_cart_items{
    background-color: var(--primary);
    margin-left: auto;
    align-self: stretch;
    padding: 0px 25px !important;

}

.b_banner{
  background-color: var(--bg-secondary);

}
.b_banner .b_slide{
    height: 300px;
    padding: 50px 20px 0px 20px;
    background: url(https://livedemo00-opencart.template-help.com/opencart_prod-23516/image/cache/catalog/slide-2-870x345.jpg);
    background-repeat: no-repeat ;
    /* background-position-x: 100px; */
    background-size: cover;

}
.b_banner .b_slide span{
    font-size: 12px;
    color: gray;
} 

.b_banner .b_slide h2{
    color: var(--primary);
    font-weight: 700;
}

.b_arrivals{
    background-repeat: no-repeat;
    background-size: cover !important;
    /* background-position: center; */
    background: url(https://livedemo00-opencart.template-help.com/opencart_prod-23516/image/cache/catalog/banner-1-570x350.jpg);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 25px;
    padding: 10px;
    flex-wrap: wrap;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid transparent;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 190px;
    gap: 5px;
  }

  .grid-item:hover{
      border: 2px solid green;
  }

  .b_latest_products .b_latest{
   background-color: var(--bg-secondary);
   border-radius: 5px;
   padding: 10px 15px;
  }
  .b_latest_products .b_latest h5{
      font-size: 20px;
  }

  .b_latest_products .b_latest button{
      background: none;
      border: none;
      cursor: pointer;
      color: var(--bg-dark-gray);
  }
  .b_products_container{
      margin: 30px 0px;
  }

  .b_products_container .b_product{
    box-shadow: 0px 0px 1px 1px #80808027;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    
  }

  .b_product_indicators {
      height: 15px;
      top: -10px;
     left: 0;
width: 100%;
      padding: 0 10px;
      border: 1px solid green;
      position: absolute;
  
  }

  .b_products_container .b_product .b_product_image_box{
      height:300px;
      display: flex;
      width: 50%;
      justify-content: center;
      align-self: center;
  }

  .b_products_container .b_product .b_product_image_box img{
      width: 100%;
      object-fit: contain;
      height: 100%;
  }
  .b_products_container .b_product .b_product_content_box{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .b_product_price {
      color: var(--primary);
      font-size: 20px;
  }

  .b_product_name{
      font-weight: bold;
      font-size: 12px;
  }
  .b_product_name:hover{
      color: var(--primary);
  }
  .b_product_description{
      font-size: 12px;
      color: var(--bg-dark-gray);
  }

  .b_product .b_product_action_btns button{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      background-color: var(--bg-secondary);
      font-size: 15px;
      cursor: pointer;
      color: var(--bg-dark-gray);
  }
  .b_product .b_product_action_btns button:hover{
      color: var(--text-secondary);
      background-color: var(--bg-dark-gray);
  }
  .b_product .b_product_action_btns button.active{
    background-color: var(--primary);
    color: var(--text-secondary);
  }
  .b_product_rating{
      color: var(--primary);
      font-size: 12px;
  }