.container{
    width: 80%;

    margin: auto;
}

.d-flex{
    display: flex;
}

.items-center{
    align-items: center;
}

.justify-end{
    justify-content: end;
}

.justify-between{
    justify-content: space-between;
}

.text-end{
    text-align: end;
}

.gap-10{
    gap: 10px;
}
.gap-20{
    gap: 20px;
}
.gap-30{
    gap: 30px;
}
.gap-40{
    gap: 40px;
}

.pointer{
    cursor: pointer;
}

.flex-wrap{
     flex-wrap: wrap;
}

.bg-primary{
    background:cyan;
}
